version 6.0
framework: net6.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 5.0 prerelease

// Testing
nuget altcover ~> 8.2
nuget Microsoft.NET.Test.Sdk ~> 17.1 prerelease
nuget YoloDev.Expecto.TestSdk ~> 0.12
